#links {
 margin-top: 5rem;
}
.links-content {
 margin-top:1rem;
}
.link-navigation::after {
 content: " ";
 display: block;
 clear: both;
}
.card {
 width: 300px;
 font-size: 1rem;
 padding: 10px 20px;
 border-radius: 4px;
 transition-duration: 0.15s;
 margin-bottom: 1rem;
 display:flex;
}
.card:nth-child(odd) {
 float: left;
}
.card:nth-child(even) {
 float: right;
}
.card:hover {
 transform: scale(1.1);
 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}
.card a {
 border:none;
}
.card .ava {
 width: 3rem!important;
 height: 3rem!important;
 margin:0!important;
 margin-right: 1em!important;
 border-radius:4px;
}
.card .card-header {
 font-style: italic;
 overflow: hidden;
 width: 236px;
}
.card .card-header a {
 font-style: normal;
 color: #2bbc8a;
 font-weight: bold;
 text-decoration: none;
}
.card .card-header a:hover {
 color: #d480aa;
 text-decoration: none;
}
.card .card-header .info {
 font-style:normal;
 color:#a3a3a3;
 font-size:14px;
 min-width: 0;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}


body {
 	background:url(/images/secene.jpg);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:100% 100%;
}




//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.8;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    //opacity: 0.8;
}
//侧边框的透明度设置
//.sidebar {
//  opacity: 0.8;
//}

.sidebar-inner {
  background: rgba(255,255,255,0.7) none repeat scroll !important;
  }

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.8);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.8;
}

.post-block {
    background: rgba(255,255,255,0.7) none repeat scroll !important;
}

.comments {
    background: rgba(255,255,255,0.7) none repeat scroll !important;
}

// 圆角设置
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;

custom_file_path:
  variable: source/_data/variables.styl

    // 主页文章添加阴影效果
.post {
   margin-top: 60px;
   padding: 20px;
   margin-bottom: 60px;
   -webkit-box-shadow: 0 0 5px rgba(120, 128, 114, 1.5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
